@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1b1b1b;
}

p {
  color: #6e6e6e;
}

h1, h2, h3, h4, h5, h6 {
  color: #1b1b1b;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #3f7ddf;
}

button {
  text-transform: uppercase;
  font-weight: bold;
}

.main {
  position: relative;
  display: unset;
}

.section-inner {
  position: relative;
  z-index: 1;
}

.section-outer {
  position: relative;
  z-index: 0;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.base-btn {
  background-color: #3f7ddf;
  color: #fff;
  padding: 20px 40px;
  font-size: 16px;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.base-btn:active {
  border-color: #96b8ee;
}

.form-int, .form-btn {
  border: 1px solid #f6f7f9;
  transition: 0.4s;
  padding: 10px;
}

.form-int:focus {
  border-color: #3f7ddf;
}

@-webkit-keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}
@-webkit-keyframes disappearance {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes disappearance {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1b1b1b;
}

p {
  color: #6e6e6e;
}

h1, h2, h3, h4, h5, h6 {
  color: #1b1b1b;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #3f7ddf;
}

button {
  text-transform: uppercase;
  font-weight: bold;
}

.main {
  position: relative;
  display: unset;
}

.section-inner {
  position: relative;
  z-index: 1;
}

.section-outer {
  position: relative;
  z-index: 0;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.base-btn {
  background-color: #3f7ddf;
  color: #fff;
  padding: 20px 40px;
  font-size: 16px;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.base-btn:active {
  border-color: #96b8ee;
}

.form-int, .form-btn {
  border: 1px solid #f6f7f9;
  transition: 0.4s;
  padding: 10px;
}

.form-int:focus {
  border-color: #3f7ddf;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}
@keyframes disappearance {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
.slider_bl .wrapper {
  max-width: 70%;
  margin: 1em auto;
  position: relative;
  z-index: 0;
}

.slider-labels {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  justify-content: space-between;
  font-size: 16px;
}
.slider-labels .slider-label {
  background-color: rgba(61, 61, 61, 0.5);
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
}

.slider_bl input {
  display: none;
}

.slider_bl .inner {
  width: 500%;
  line-height: 0;
}

.slider_bl img {
  width: 20%;
  height: 100%;
  float: left;
  position: relative;
}

.slider_bl .slider-prev-next-control {
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  transform: translate(-50%, -50%);
}

.slider_bl .slider-prev-next-control label {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.slider_bl .slider-prev-next-control label:hover:after {
  color: #3f7ddf !important;
}

.slider_bl .slider-dot-control {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.slider_bl .slider-dot-control label {
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #d6d6d6;
  transition: all 0.3s;
}

.slider_bl .slider-dot-control label:hover {
  background: #3f7ddf;
}

.slider_bl .slider-wrapper {
  width: 100%;
  overflow: hidden;
  transform: translateZ(0);
  transition: all 0.5s ease-out;
}

.slider_bl .slider-wrapper .inner {
  transform: translateZ(0);
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slider_bl #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after,
.slider_bl #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after,
.slider_bl #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after,
.slider_bl #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after,
.slider_bl #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after,
.slider_bl #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after,
.slider_bl #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after,
.slider_bl #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after,
.slider_bl #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after,
.slider_bl #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  text-decoration: inherit;
  margin: 0;
  line-height: 38px;
  font-size: 3em;
  display: block;
  color: #d6d6d6;
  cursor: pointer;
  transition: 0.3s;
}

.slider_bl #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after,
.slider_bl #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after,
.slider_bl #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after,
.slider_bl #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after,
.slider_bl #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after {
  content: "\f105";
  padding-left: 15px;
}

.slider_bl #slide1:checked ~ .slider-prev-next-control label:nth-child(2),
.slider_bl #slide2:checked ~ .slider-prev-next-control label:nth-child(3),
.slider_bl #slide3:checked ~ .slider-prev-next-control label:nth-child(4),
.slider_bl #slide4:checked ~ .slider-prev-next-control label:nth-child(5),
.slider_bl #slide5:checked ~ .slider-prev-next-control label:nth-child(1) {
  display: block;
  float: right;
  margin-right: 5px;
}

.slider_bl #slide1:checked ~ .slider-prev-next-control label:nth-child(5),
.slider_bl #slide2:checked ~ .slider-prev-next-control label:nth-child(1),
.slider_bl #slide3:checked ~ .slider-prev-next-control label:nth-child(2),
.slider_bl #slide4:checked ~ .slider-prev-next-control label:nth-child(3),
.slider_bl #slide5:checked ~ .slider-prev-next-control label:nth-child(4) {
  display: block;
  float: left;
  margin-left: 5px;
}

.slider_bl #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after,
.slider_bl #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after,
.slider_bl #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after,
.slider_bl #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after,
.slider_bl #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after {
  content: "\f104";
  padding-left: 8px;
}

.slider_bl #slide1:checked ~ .slider-dot-control label:nth-child(1),
.slider_bl #slide2:checked ~ .slider-dot-control label:nth-child(2),
.slider_bl #slide3:checked ~ .slider-dot-control label:nth-child(3),
.slider_bl #slide4:checked ~ .slider-dot-control label:nth-child(4),
.slider_bl #slide5:checked ~ .slider-dot-control label:nth-child(5) {
  background: #3f7ddf;
}

.slider_bl #slide1:checked ~ .slider-wrapper img:nth-child(1) .info,
.slider_bl #slide2:checked ~ .slider-wrapper img:nth-child(2) .info,
.slider_bl #slide3:checked ~ .slider-wrapper img:nth-child(3) .info,
.slider_bl #slide4:checked ~ .slider-wrapper img:nth-child(4) .info,
.slider_bl #slide5:checked ~ .slider-wrapper img:nth-child(5) .info {
  opacity: 1;
}

.slider_bl #slide1:checked ~ .slider-wrapper .inner {
  margin-left: 0;
}

.slider_bl #slide2:checked ~ .slider-wrapper .inner {
  margin-left: -100%;
}

.slider_bl #slide3:checked ~ .slider-wrapper .inner {
  margin-left: -200%;
}

.slider_bl #slide4:checked ~ .slider-wrapper .inner {
  margin-left: -300%;
}

.slider_bl #slide5:checked ~ .slider-wrapper .inner {
  margin-left: -400%;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1b1b1b;
}

p {
  color: #6e6e6e;
}

h1, h2, h3, h4, h5, h6 {
  color: #1b1b1b;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #3f7ddf;
}

button {
  text-transform: uppercase;
  font-weight: bold;
}

.main {
  position: relative;
  display: unset;
}

.section-inner {
  position: relative;
  z-index: 1;
}

.section-outer {
  position: relative;
  z-index: 0;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.base-btn {
  background-color: #3f7ddf;
  color: #fff;
  padding: 20px 40px;
  font-size: 16px;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.base-btn:active {
  border-color: #96b8ee;
}

.form-int, .form-btn {
  border: 1px solid #f6f7f9;
  transition: 0.4s;
  padding: 10px;
}

.form-int:focus {
  border-color: #3f7ddf;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}
@keyframes disappearance {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
.select-box {
  position: relative;
  display: block;
  width: 100%;
  color: #60666d;
}
.select-box__current {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid #f6f7f9;
  cursor: pointer;
  outline: none;
  height: 100%;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
          animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 20px;
  opacity: 0.3;
  transition: 0.2s ease;
}
.select-box__value {
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
}
.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #fff;
}
.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
          animation-name: HideList;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.select-box__option {
  display: block;
  padding: 15px;
  background-color: #fff;
}
.select-box__option:hover, .select-box__option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1b1b1b;
}

p {
  color: #6e6e6e;
}

h1, h2, h3, h4, h5, h6 {
  color: #1b1b1b;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #3f7ddf;
}

button {
  text-transform: uppercase;
  font-weight: bold;
}

.main {
  position: relative;
  display: unset;
}

.section-inner {
  position: relative;
  z-index: 1;
}

.section-outer {
  position: relative;
  z-index: 0;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.base-btn {
  background-color: #3f7ddf;
  color: #fff;
  padding: 20px 40px;
  font-size: 16px;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.base-btn:active {
  border-color: #96b8ee;
}

.form-int, .form-btn {
  border: 1px solid #f6f7f9;
  transition: 0.4s;
  padding: 10px;
}

.form-int:focus {
  border-color: #3f7ddf;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}
@keyframes disappearance {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
.form-checkbox {
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f6f7f9;
  border-radius: 2px;
}
.form-checkbox::after {
  content: "";
  position: absolute;
}
.form-checkbox:checked {
  background-color: #3f7ddf;
}
.form-checkbox:checked::after {
  color: white;
  content: "✔";
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  height: 100px;
}
.header-inner {
  font-size: 14px;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  justify-content: space-between;
}
.header-inner button {
  color: #3f7ddf;
}
.header-inner .header-item {
  height: 100%;
  flex: 1 1 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.header-inner .header-item + .header-item {
  border-left: 1px solid #f6f7f9;
}
.header-inner .header-item .header-content-h {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
}
.header-inner .header-item .header-btn {
  padding: 18px 20px;
  border: 2px solid #3f7ddf;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s ease;
}
.header-inner .header-item .header-btn::before {
  width: 200%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(25deg);
  content: "";
  position: absolute;
  left: 50%;
  background: #3f7ddf;
  z-index: -1;
  transition: 0.6s ease;
}
.header-inner .header-item .header-btn:hover::before {
  height: 500%;
}
.header-inner .header-item .header-btn:hover {
  color: #fff;
}
.header-inner .header-item .nav-container {
  height: 100%;
  width: 90px;
  position: relative;
}
.header-inner .header-item .nav-container .nav-btn {
  width: 100%;
  border-right: 1px solid #f6f7f9;
  border-left: 1px solid #f6f7f9;
  height: 100%;
  font-size: 30px;
}
.header-inner .header-item .nav-container .nav {
  z-index: 2;
  position: absolute;
  width: 100%;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  display: none;
  -webkit-animation: close 0.5s forwards;
          animation: close 0.5s forwards;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.05);
}
.header-inner .header-item .nav-container .nav .nav-li {
  height: 50px;
}
.header-inner .header-item .nav-container .nav .nav-li:hover {
  background-color: #f6f7f9;
}
.header-inner .header-item .nav-container .nav .nav-li + .nav-li {
  border-top: 1px solid #f6f7f9;
}
.header-inner .header-item .nav-container .nav .nav-li a {
  color: #3f7ddf;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.header-inner .header-item .nav-container .nav.open {
  -webkit-animation: open 0.5s forwards;
          animation: open 0.5s forwards;
}
@-webkit-keyframes open {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px;
  }
}
@keyframes open {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px;
  }
}
@-webkit-keyframes close {
  0% {
    max-height: 500px;
  }
  100% {
    max-height: 0;
  }
}
@keyframes close {
  0% {
    max-height: 500px;
  }
  100% {
    max-height: 0;
  }
}
.header-inner .header-item .right {
  text-align: right;
}

.section-outer.section-intro {
  background-color: #f6f7f9;
  height: 950px;
  background: url("/images/7.png") no-repeat top/cover;
}
.section-outer.section-intro .section-inner {
  width: 60%;
  height: 100%;
  position: relative;
}
.section-outer.section-intro .section-inner .intro-body {
  font-size: 24px;
  width: 300px;
}
.section-outer.section-intro .section-inner .intro-body .intro-cost {
  font-weight: bold;
  margin: 10px 0 50px 0;
}
.section-outer.section-intro .section-inner .form-discount {
  position: absolute;
  bottom: 0;
  padding: 50px;
  width: 900px;
  background-color: #fff;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.05);
}
.section-outer.section-intro .section-inner .form-discount .form-discount-inner .form-h {
  margin-bottom: 10px;
}
.section-outer.section-intro .section-inner .form-discount .form-discount-inner .form-p {
  margin-bottom: 50px;
}
.section-outer.section-intro .section-inner .form-discount .form-btns-container .form-btns-row {
  display: flex;
}
.section-outer.section-intro .section-inner .form-discount .form-btns-container .form-btns-row > button, .section-outer.section-intro .section-inner .form-discount .form-btns-container .form-btns-row > input {
  width: 33.33%;
  height: 70px;
}
.section-outer.section-intro .section-inner .form-discount .form-btns-container .form-btns-row .form-int-container {
  width: 33.33%;
}
.section-outer.section-intro .section-inner .form-discount .form-btns-container .form-btns-row .form-int-container > div {
  margin-bottom: 10px;
}
.section-outer.section-intro .section-inner .form-discount .form-btns-container .form-btns-row .form-int-container button, .section-outer.section-intro .section-inner .form-discount .form-btns-container .form-btns-row .form-int-container input[type=text], .section-outer.section-intro .section-inner .form-discount .form-btns-container .form-btns-row .form-int-container .select-box {
  width: 100%;
  height: 70px;
}
.section-outer.section-intro .section-inner .form-discount .form-btns-container .form-btns-row .form-int-container input[type=checkbox] {
  height: 30px;
  width: 30px;
}
.section-outer.section-intro .section-inner .form-discount .form-btns-container .form-btns-row .form-checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.section-outer.section-advantages .section-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex-direction: column;
  width: 60%;
}
.section-outer.section-advantages .section-inner .advantages-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.section-outer.section-advantages .section-inner .advantages-container .advantage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  width: 20%;
  text-align: center;
}

.section-outer.section-catalog {
  background-color: #f6f7f9;
}
.section-outer.section-catalog .section-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex-direction: column;
  width: 80%;
}
.section-outer.section-catalog .section-inner .catalog-cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-outer.section-catalog .section-inner .catalog-cards-container .catalog-card {
  width: 700px;
  height: 150px;
  background-position: center;
  background-size: cover;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.2);
}
.section-outer.section-catalog .section-inner .catalog-cards-container .catalog-card:hover .catalog-btns-container {
  display: flex;
}
.section-outer.section-catalog .section-inner .catalog-cards-container .catalog-card .catalog-card-category {
  background-color: rgba(126, 178, 255, 0.8);
  padding: 10px 30px;
  display: inline-block;
}
.section-outer.section-catalog .section-inner .catalog-cards-container .catalog-card .catalog-btns-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: stretch;
  height: 35px;
}
.section-outer.section-catalog .section-inner .catalog-cards-container .catalog-card .catalog-btns-container button {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.section-outer.section-catalog .section-inner .catalog-cards-container .catalog-card .catalog-btns-container .catalog-btn-order {
  background-color: #fff;
  color: #3f7ddf;
}
.section-outer.section-catalog .section-inner .catalog-cards-container .catalog-card .catalog-btns-container .catalog-btn-online {
  background-color: rgb(126, 178, 255);
  color: #fff;
}
.section-outer.section-catalog .section-inner .catalog-cards-container .catalog-card .catalog-btns-container .catalog-btn-like {
  background-color: #3f7ddf;
  color: #fff;
}
.section-outer.section-catalog .section-inner .catalog-cards-container .catalog-card:nth-child(1) {
  background-image: url("/images/catalog/1.png");
}
.section-outer.section-catalog .section-inner .catalog-cards-container .catalog-card:nth-child(2) {
  background-image: url("/images/catalog/2.png");
}
.section-outer.section-catalog .section-inner .catalog-cards-container .catalog-card:nth-child(3) {
  background-image: url("/images/catalog/3.png");
}
.section-outer.section-catalog .section-inner .catalog-cards-container .catalog-card:nth-child(4) {
  background-image: url("/images/catalog/4.png");
}
.section-outer.section-catalog .section-inner .catalog-cards-container .catalog-card:nth-child(5) {
  background-image: url("/images/catalog/5.png");
}
.section-outer.section-catalog .section-inner .catalog-cards-container .catalog-card:nth-child(6) {
  background-image: url("/images/catalog/6.png");
}
.section-outer.section-catalog .section-inner .catalog-cards-container .catalog-card:nth-child(7) {
  background-image: url("/images/catalog/7.png");
}
.section-outer.section-catalog .section-inner .catalog-cards-container .catalog-card:nth-child(8) {
  background-image: url("/images/catalog/8.png");
}
.section-outer.section-catalog .section-inner .catalog-cards-container .catalog-card:nth-child(9) {
  background-image: url("/images/catalog/8.png");
}
.section-outer.section-catalog .section-inner .catalog-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.section-outer.section-articles .section-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex-direction: column;
  width: 80%;
}
.section-outer.section-articles .section-inner .articles-info-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  justify-content: space-between;
}
.section-outer.section-articles .section-inner .articles-info-container .articles-info-h {
  font-size: 20px;
}
.section-outer.section-articles .section-inner .articles-info-container .articles-info-a a {
  border-bottom: 1px solid #3f7ddf;
}
.section-outer.section-articles .section-inner .articles-cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.section-outer.section-articles .section-inner .articles-cards-container .article-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: column;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.05);
  width: 300px;
  position: relative;
}
.section-outer.section-articles .section-inner .articles-cards-container .article-card .card-img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-outer.section-articles .section-inner .articles-cards-container .article-card .card-description {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  background-color: #fff;
}

.section-outer.section-products {
  padding: 120px 0;
}
.section-outer.section-products .section-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex-direction: column;
  width: 80%;
}
.section-outer.section-products .section-inner .products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.section-outer.section-products .section-inner .products-container .product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: column;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.05);
  width: 300px;
  position: relative;
}
.section-outer.section-products .section-inner .products-container .product .product-img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.section-outer.section-products .section-inner .products-container .product .product-description {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  background-color: #fff;
  z-index: 1;
}
.section-outer.section-products .section-inner .products-container .product .product-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: absolute;
  z-index: 0;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  left: 0;
}
.section-outer.section-products .section-inner .products-container .product .product-btn-container .product-btn {
  width: 100%;
}
.section-outer.section-products .section-inner .products-container .product:hover ~ .product {
  pointer-events: none;
}
.section-outer.section-products .section-inner .products-container .product:hover ~ .product .product-img {
  z-index: -1;
}
.section-outer.section-products .section-inner .products-container .product:hover ~ .product .product-btn-container {
  z-index: -2;
}
@-webkit-keyframes translate-btn-in {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
@keyframes translate-btn-in {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes translate-btn-out {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
@keyframes translate-btn-out {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

.section-outer.section-stages {
  background-color: #f6f7f9;
}
.section-outer.section-stages .section-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex-direction: column;
  width: 80%;
}
.section-outer.section-stages .section-inner .stages-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  align-items: baseline;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}
.section-outer.section-stages .section-inner .stages-container .stage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  text-align: center;
  width: 200px;
}
.section-outer.section-stages .section-inner .stages-container .stage .stage-name {
  font-weight: bold;
}

.section-outer.section-before-after .section-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex-direction: column;
}

.section-outer.section-reviews {
  background-color: #f6f7f9;
  padding-bottom: 300px;
  z-index: 2;
}
.section-outer.section-reviews .section-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex-direction: column;
  width: 80%;
}
.section-outer.section-reviews .section-inner .reviews-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.section-outer.section-reviews .section-inner .reviews-container .reviews-container-item:nth-child(1) .review-person-img {
  background-image: url("/images/2.png");
}
.section-outer.section-reviews .section-inner .reviews-container .reviews-container-item:nth-child(2) .review-person-img {
  background-image: url("/images/3.png");
}
.section-outer.section-reviews .section-inner .reviews-container .reviews-container-item:nth-child(3) .review-person-img {
  background-image: url("/images/4.png");
}
.section-outer.section-reviews .section-inner .reviews-container .reviews-container-item .review-body {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 40px;
  position: relative;
}
.section-outer.section-reviews .section-inner .reviews-container .reviews-container-item .review-body::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border: 40px solid transparent;
  border-top: 40px solid #fff;
  border-bottom: none;
}
.section-outer.section-reviews .section-inner .reviews-container .reviews-container-item .review-person {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  text-align: center;
}
.section-outer.section-reviews .section-inner .reviews-container .reviews-container-item .review-person-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid #3f7ddf;
  background-position: center;
  background-size: cover;
  margin-top: 20px;
}
.section-outer.section-reviews .form-buy {
  position: absolute;
  bottom: -250px;
  padding: 50px;
  width: 1200px;
  background-color: #fff;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.05);
}
.section-outer.section-reviews .form-buy .form-buy-h {
  margin-bottom: 20px;
}
.section-outer.section-reviews .form-buy .form-buy-p {
  margin-bottom: 60px;
}
.section-outer.section-reviews .form-buy .form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  margin-bottom: 30px;
}
.section-outer.section-reviews .form-buy .form-container input {
  width: 33.33%;
  height: 70px;
}
.section-outer.section-reviews .form-buy .form-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  justify-content: start;
}
.section-outer.section-reviews .form-buy .form-btn-container .form-p {
  width: 30%;
}

.section-outer.section-about {
  padding-top: 300px;
  z-index: 1;
}
.section-outer.section-about .section-inner {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex-direction: column;
}
.section-outer.section-about .section-inner .about-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.section-outer.section-about .section-inner .about-body-img {
  height: 300px;
}
.section-outer.section-about .section-inner .about-body-content {
  max-width: 400px;
}
.section-outer.section-about .section-inner .about-body-content-p + .about-body-content-p {
  margin-top: 20px;
}

.section-outer.section-contacts {
  background-color: #f6f7f9;
  padding-bottom: 0;
}
.section-outer.section-contacts .section-inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: column;
}
.section-outer.section-contacts .section-inner .contacts-container {
  width: 60%;
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.section-outer.section-contacts .section-inner .contacts-container .contacts-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
.section-outer.section-contacts .section-inner .contacts-container .contacts-item-icon {
  font-size: 28px;
  color: #3f7ddf;
}

.section-outer.section-questions {
  height: 200px;
  padding: 80px 20px;
}
.section-outer.section-questions .section-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.section-outer.section-questions .section-inner .questions-p {
  font-size: 28px;
  font-weight: bold;
}
.section-outer.section-questions .section-inner .questions-a a {
  border-bottom: 1px solid #3f7ddf;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  align-items: stretch;
  min-height: 200px;
  padding: 40px;
  background-color: #1b1b1b;
  font-size: 16px;
}
.footer-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 80%;
  justify-content: space-between;
  color: #fff;
}
.footer-inner .logo-h {
  color: #fff;
  font-size: 28px;
}
.footer-inner > div {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  flex: 1 1 33.33%;
}
.footer-inner .footer-payment {
  flex-direction: row;
  justify-content: center;
}
.footer-inner .footer-payment .payment-item {
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.footer-inner .footer-payment .payment-item img {
  width: 80%;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
}
.footer-inner .mail a {
  color: #fff;
}
.footer-inner .footer-contacts {
  align-items: flex-end;
}
.footer-inner .footer-contacts .contacts-btn {
  height: 30px;
  width: 30px;
  color: #1b1b1b;
  border-radius: 5px;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.footer-inner .footer-contacts .contacts-btn:hover {
  background-color: #3f7ddf;
}
.footer-inner .footer-contacts .contacts-btn + .contacts-btn {
  margin-left: 10px;
}

.scroll-btn {
  height: 50px;
  width: 100px;
  background-color: rgba(86, 114, 204, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-size: 20px;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  bottom: 40px;
  right: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  z-index: 10;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1b1b1b;
}

p {
  color: #6e6e6e;
}

h1, h2, h3, h4, h5, h6 {
  color: #1b1b1b;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #3f7ddf;
}

button {
  text-transform: uppercase;
  font-weight: bold;
}

.main {
  position: relative;
  display: unset;
}

.section-inner {
  position: relative;
  z-index: 1;
}

.section-outer {
  position: relative;
  z-index: 0;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.base-btn {
  background-color: #3f7ddf;
  color: #fff;
  padding: 20px 40px;
  font-size: 16px;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.base-btn:active {
  border-color: #96b8ee;
}

.form-int, .form-btn {
  border: 1px solid #f6f7f9;
  transition: 0.4s;
  padding: 10px;
}

.form-int:focus {
  border-color: #3f7ddf;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}
@keyframes disappearance {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
@media (max-width: 1612px) {
  .header .header-inner {
    width: 100% !important;
  }
}
@media (max-width: 1400px) {
  .header .header-item:not(.header-item:nth-child(2)) {
    flex-basis: 40% !important;
    gap: 20px;
  }
  .header .header-btn {
    font-size: 12px;
  }
  .header .header-item:nth-child(2) {
    flex-basis: 20% !important;
  }
  .section-intro .section-inner {
    width: 90% !important;
  }
  .section-intro .form-discount {
    width: 100% !important;
  }
}
@media (max-width: 960px) {
  .section-reviews {
    padding-bottom: 400px !important;
  }
  .section-about .about-body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
  }
  .header .header-item:nth-child(2) {
    display: none;
  }
  .header .header-btn {
    padding: 10px !important;
    font-size: 10px !important;
  }
  .header .header-content-h {
    font-size: 14px !important;
  }
}
@media (max-width: 1783px) {
  .section-catalog .catalog-cards-container {
    justify-content: center !important;
  }
  .section-catalog .catalog-card {
    width: 90% !important;
  }
}
@media (max-width: 700px) {
  .header {
    height: 150px !important;
  }
  .header .header-item:last-child {
    flex-direction: column;
  }
  .header .nav-li {
    font-size: 10px;
  }
  .section-articles .articles-cards-container {
    justify-content: center !important;
  }
  .section-products .products-container {
    justify-content: center !important;
  }
  .footer .footer-inner {
    width: 100% !important;
  }
  .footer .logo-h {
    font-size: 24px;
  }
  .section-reviews {
    padding-bottom: 700px !important;
  }
  .section-reviews .form-btn-container {
    gap: 30px !important;
  }
  .section-reviews .form-container {
    flex-direction: column;
    gap: 20px !important;
  }
  .section-reviews .form-int {
    width: 100% !important;
  }
  .section-intro {
    height: 1500px !important;
  }
  .section-intro .form-btns-row:not(.form-btns-row:nth-child(2)) {
    flex-direction: column;
    gap: 10px;
  }
  .section-intro .form-int-container, .section-intro .form-int, .section-intro button {
    width: 100% !important;
  }
}
@media (max-width: 800px) {
  .section-reviews .form-btn-container {
    flex-direction: column;
  }
  .section-reviews .form-btn-container .form-p {
    width: 100% !important;
  }
}
@media (max-width: 1240px) {
  .section-reviews .form-buy {
    width: 90% !important;
  }
}
@media (max-width: 1300px) {
  .section-contacts .contacts-container {
    width: 90% !important;
  }
  .section-reviews .reviews-container {
    flex-direction: column;
  }
}
@media (max-width: 1458px) {
  .footer .footer-inner {
    flex-direction: column !important;
    text-align: center;
  }
  .footer .footer-contacts {
    align-items: center !important;
  }
}
@media (max-width: 540px) {
  .slider_bl #slide1:checked ~ .slider-prev-next-control label::after {
    padding-left: 30px !important;
  }
}